<!--------- Offcanvas area start --------->
<div class="offcanvas-area">
  <div class="menu-close">
    <img src="assets/img/CLOSE ICON.png" alt="">
  </div>
  <div class="offcanvas-menu">
    <div class="offcanvas__menu__icon">
      <img src="assets/img/offcanvas-logo.png" alt="">
    </div>
    <div class="offcanvas__links">
      <a href="/"><img src="assets/img/link-1.png" alt=""></a>
      <a href="/submission"><img src="assets/img/link-2.png" alt=""></a>
      <a><img src="assets/img/link-3.png" alt=""></a>
    </div>
  </div>
</div>

<div class="offcanvas-overlay"></div>
<!--------- Offcanvas area end --------->


<!--------- Header area start --------->
<header class="header">
  <div class="dot-overlay">
    <img src="assets/img/overlay-2.png" alt="">
  </div>
  <div class="container-fluid position-relative d-flex align-items-center justify-content-between">
    <div class="header__logo">
      <a href=""><img src="assets/img/logo-header.png" alt=""></a>
    </div>
    <div class="header__nav__open menu-open">
      <img src="assets/img/menu-icon.png" alt="">
    </div>
  </div>
</header>
<!--------- Header area end --------->


<!--------- Main area start --------->
<main class="main overflow-hidden">


  <!--------- Hero area start --------->
  <section class="breadcrumb__one">
    <div class="container">
      <div class="row position-relative">
        <a href="" class="hero__arrow breadcrumb__arrow"><img src="assets/img/arrow-down-white.png" alt=""></a>
        <div class="col-md-12">
          <div class="story__area story__sound__content text-center">
            <div class="story__title  wow fadeInLeft">
              <img src="assets/img/story-title_2.png" alt="">
            </div>
            <div class="story__single__content common-content">
              <p class="text-white  wow fadeInRight">The evolution of reality music contests is about to be
                revolutionized into the future!
                If you know you got talent the world deserves to hear about -
                <span>hurry up and register for free</span> if you want
                to get on the biggest online stage with some of the most jaw dropping prizes for the winners!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--------- Hero area end --------->


  <!--------- Ticket area start --------->
  <section class="main__second__tiket__blk">
    <div class="container">
      <div class="second__ticket__title">
        <h4>Send us your details NOW</h4>
      </div>
      <div class="second__ticket__inner__blk">
        <div class="ticket__right__inner">
          <div class="ticket__right__main__blk">
            <form id="form">
              <div class="row gx-3 wow fadeInRight">
                <div class="col-md-12">
                  <div class="single__form__input">
                    <input type="text" class="form-control" placeholder="Artist Name" id="artist_name">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="single__form__input">
                    <input type="text" class="form-control" placeholder="First Name" id="first_name">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="single__form__input">
                    <input type="text" class="form-control" placeholder="Last Name" id="last_name">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="single__form__input">
                    <select name="" class="form-select" id="what_am_i">
                      <option value="" selected="">What am I?</option>
                      <option value="male">Singer</option>
                      <option value="female">Band</option>
                    </select>
                    <div class="input-slogan">
                      <img src="assets/img/input-slogan_1.png" alt="">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="single__form__input">
                    <input type="number" min="16" max="120" class="form-control" placeholder="Age" id="age">
                  </div>
                  <div class="age__content">
                    <p>Those who are under the age of 18 must fill and
                      submit with a parent or legal guardian approval.</p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="terms_check_box">
                    <label class="form-check-label" for="terms_check_box">
                      Approval of the <a href="#">terms of the competition</a>
                    </label>
                  </div>
                </div>
                <div class="col-lg-6"></div>
                <div class="col-md-6">
                  <div class="single__form__input">
                    <select name="" class="form-select" id="gender">
                      <option value="" selected="">Gender</option>
                      <option value="male">Male</option>
                      <option value="female">Female</option>
                      <option value="other">Other</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="single__form__input">
                    <select name="" class="form-select" id="country">
                      <option value="" selected="">Country</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="single__form__input">
                    <select name="" class="form-select" id="genre">
                      <option value="" selected="">Genre</option>
                      <option value="Rock">Rock</option>
                      <option value="Classic Rock">Classic Rock</option>
                      <option value="Folk">Folk</option>
                      <option value="Folk Rock">Folk Rock</option>
                      <option value="World Music">World Music</option>
                      <option value="Blues">Blues</option>
                      <option value="R&B">R&B</option>
                      <option value="Rap">Rap</option>
                      <option value="Groove">Groove</option>
                      <option value="Funk">Funk</option>
                      <option value="Electro">Electro</option>
                      <option value="Electroc">Electroc</option>
                      <option value="Electro Pop">Electro Pop</option>
                      <option value="Pop">Pop</option>
                      <option value="Dance">Dance</option>
                      <option value="Euro Dance">Euro Dance</option>
                      <option value="Brit Pop">Brit Pop</option>
                      <option value="Trance">Trance</option>
                      <option value="Vocal Trance">Vocal Trance</option>
                      <option value="Deep Trance">Deep Trance</option>
                      <option value="Psychedelic Trance">Psychedelic Trance</option>
                      <option value="House">House</option>
                      <option value="New York House">New York House</option>
                      <option value="Oriental">Oriental</option>
                      <option value="Ambient">Ambient</option>
                      <option value="Chill Out">Chill Out</option>
                      <option value="Classical Music">Classical Music</option>
                      <option value="Metaverse Music">Metaverse Music</option>
                      <option value="Synth Pop">Synth Pop</option>
                      <option value="Grunge">Grunge</option>
                      <option value="Electronic Music">Electronic Music</option>
                      <option value="Dub">Dub</option>
                      <option value="Reggae">Reggae</option>
                      <option value="reggae tune">reggae tune</option>
                      <option value="Mediterranean">Mediterranean</option>
                      <option value="baroque">baroque</option>
                      <option value="indie music">indie music</option>
                      <option value="disco">disco</option>
                      <option value="B-bop">B-bop</option>
                      <option value="Hasidic music">Hasidic music</option>
                      <option value="Latin music">Latin music</option>
                      <option value="metal">metal</option>
                      <option value="Country">Country</option>
                      <option value="gospel">gospel</option>
                      <option value="drum and bass">drum and bass</option>
                      <option value="hip hop">hip hop</option>
                      <option value="techno">techno</option>
                      <option value="tango">tango</option>
                      <option value="trip hop">trip hop</option>
                      <option value="opera">opera</option>
                      <option value="chanson">chanson</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="single__form__input">
                    <div class="input-icon">
                      <img src="assets/img/tik_tok.png" alt="">
                    </div>
                    <input type="text" placeholder="Tiktok @" class="form-control" id="tiktok">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form___content">
                    <h4>Must have an account. <br> <span>If you don’t, you’ll have to open one later</span></h4>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="single__form__input">
                    <div class="input-icon tis_ico">
                      <img src="assets/img/twitter.png" alt="">
                    </div>
                    <input type="text" placeholder="Twitter @" class="form-control" id="twitter">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="single__form__input">
                    <div class="input-icon">
                      <img src="assets/img/discord-2.png" alt="">
                    </div>
                    <input type="text" placeholder="Discord @" class="form-control" id="discord">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="single__form__input">
                    <div class="input-icon tis_ico">
                      <img src="assets/img/insta.png" alt="">
                    </div>
                    <input type="text" placeholder="Instagram @" class="form-control" id="instagram">
                  </div>
                </div>
                <div class="col-lg-6"></div>
                <div class="col-md-6">
                  <div class="single__form__input">
                    <div class="input-icon massage_ico">
                      <img src="assets/img/massage.png" alt="">
                    </div>
                    <input type="email" placeholder="Email" class="form-control" id="email">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="single__form__input">
                    <div class="input-icon massage_ico">
                      <img src="assets/img/massage.png" alt="">
                    </div>
                    <input type="email" placeholder="Confirm E-mail" class="form-control" id="confirm_email">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="single__form__input">
                    <div class="input-icon">
                      <img src="assets/img/i-5.png" alt="">
                    </div>
                    <input type="text" placeholder="Mobile phone" class="form-control" id="phone">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form___content">
                    <h4>A mobile number is required <span>to receive (updates competition)</span></h4>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="check_box">
                    <label class="form-check-label" for="check_box">
                      Independent singer or signed to a label
                    </label>
                  </div>
                </div>
              </div>
              <div class="form__submit__btn text-end pt-2">
                <button (click)="onSubmit($event)" class="bg-transparent border-0 p-0"><img src="assets/img/SUBMIT BUTTON.png" alt=""></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <span class="ticket__shyape"><img src="assets/img/head__thumb.png" alt=""></span>
  </section>
  <!--------- Ticket area end --------->

  <!--------- Footer area start --------->
  <footer class="footer">
    <div class="footer__area" style="background-image: url(./assets/img/footer__bg.png);">
      <div class="container text-center">
        <div class="footer__logo">
          <a href=""><img src="assets/img/logo-footer_1.png" alt=""></a>
        </div>
        <div class="footer__social d-flex align-items-center justify-content-center">
          <a href="" target="_blank"><img class="tiktok-icon" src="/assets/img/tiktok-xxl.png"></a>
          <a href="https://instagram.com/imrockstarofficial?igshid=YmMyMTA2M2Y=" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a href="" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="https://discord.gg/imrockstar" target="_blank"><i class="fab fa-discord"></i></a>
          <a href="https://t.me/+1bhDYapNqjhhYmU0" target="_blank"><i class="fas fa-paper-plane"></i></a>
        </div>
      </div>
    </div>
  </footer>
  <!--------- Footer area end --------->


</main>
<!--------- Main area end --------->
