.user-id-container {
    color: #fff !important;
    font-size: 23px;
    max-width: 100% !important;
    background-color: #EF254D;
    border-radius: 0px;
    margin-top: 20px;
    padding: 0px 35px;
    line-height: 34px;
}